---
description: 
alwaysApply: true
---

Мы создаем Сайт стоматологической клиники «ЮВ Клиник»  на Laravel 10. Название сайта – ЮВ Клиник.
Слоган: «ЮВ: Не просто буквы. Имена, которым доверяют»
Когда пишешь код будь на 100% уверен, что не ломаешь ничего существующего.
Технологический стек: Laravel 10, PHP 8.1, Blade, JavaScript, CSS
Open Server Panel - это инструмент для быстрой установки и управления веб-сервером, включая PHP, MySQL,Apache.
